<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Thinkflight</title>
    <!-- Icons-->
    <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any"/>
    <link href="/stylesheets/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/stylesheets/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/pace.min.css" rel="stylesheet">

    <style>
        .card-body table th {
            text-transform: uppercase;
        }

        table tr th {
            color: #000 !important;
            border-top: 1px solid #c5e7f2 !important;
            border-bottom: 1px solid #c5e7f2 !important;
            background: url(https://cdn-app.kiotviet.vn/retailler/Content/thBg.png) right center no-repeat #dcf4fc !important;
        }

        .table th {
            border-bottom: none !important;
            font-weight: 400 !important;
            font-size: 12px !important;
            text-transform: uppercase;
        }

        .table-responsive-sm a:hover {
            text-decoration: none;
        }

    </style>
    <style>
        h2 {
            line-height: 36px;
            font-size: 20px;
        }

        h5 {
            line-height: 18px;
            font-size: 16px;
            font-weight: 400;
        }

        .r4_counter h4 {
            margin: 0;
        }

        a {
            color: #008ece;
            text-decoration: none !important;
        }

        .ovh {
            overflow: hidden !important;
        }

        .dashboardStatistic {
            position: relative;
        }

        .pd0 {
            padding: 0 !important;
        }

        .uln ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .dashboard-custom .dashboardStatistic ul li {
            max-width: calc(100% / 4);
        }

        .dashboardStatistic ul li {
            position: relative;
            color: #999;
            font-size: 12px;
            padding: 6px 0 6px 67px;
            text-align: left;
            display: inline-block;
            height: auto;
            vertical-align: middle;
            min-height: 72px;
            white-space: nowrap;
            margin: 4px 25px 8px 0;
            box-sizing: border-box;
            width: 22%;
        }

        .dashboardStatistic ul li.total .dash_icon {
            background: #0094da;
        }

        .dashboardStatistic ul li .dash_icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0;
            position: absolute;
            top: 14px;
            left: 25px;
            background: #4bac4d;
            text-align: center;
            border-radius: 100% !important;
            color: #fff;
            line-height: 32px;
        }

        .dashboardStatistic ul li .dash_title {
            font-weight: 700;
            color: #666;
            margin: 0 0 0 2px;
        }

        .dashboardStatistic ul li.total span.number {
            color: #0094da;
        }

        .dashboardStatistic ul li span.number {
            display: block;
            font-size: 22px;
            line-height: 28px;
        }

        .dashboardStatistic ul li span.yesterday {
            display: block;
            margin: 0 0 0 2px;
        }

        .dashboardStatistic ul li + li {
            border-left: 1px solid #d6d6d6;
        }

        .btn-group-left a, .btn-group-left button {
            text-transform: uppercase;
        }

        .dashboardStatistic ul li.return .dash_icon {
            background: #ff8030;
        }

        .dashboardStatistic ul li.down .dash_icon {
            background: #f94f5e;
        }

        .content-list div[class*=col-md-] .form-group {
            margin: 0;
            padding: 5px 0;
            border-bottom: 1px solid #eee;
        }

        .th-text-right {
            text-align: right;
        }
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<% include ../layouts/header.ejs %>
<div class="app-body">
    <% include ../layouts/sidebar.ejs %>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin/dashboard">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">
                Kết quả kinh doanh
            </li>
        </ol>
        <div class="container-fluid">
            <div id="ui-view">
                <div>
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <p style="float: left;font-weight: bold;margin-top: 8px;margin-bottom: 0;">
                                            <i class="nav-icon icon-pie-chart"></i>
                                            KÊT QUẢ KINH DOANH
                                        </p>
                                        <div class="card-header-actions">
                                            <select class="form-control" id="ccmonth">
                                                <option>Hôm nay</option>
                                                <option>Hôm qua</option>
                                                <option>7 ngày qua</option>
                                                <option>Tháng này</option>
                                                <option>Tháng trước</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding: 0;">
                                        <div class="dashboardBox dashboardStatistic ovh dashboard-top">
                                            <div class="uln ovh pd0" style="border-bottom: 1px solid #c8ced3;">
                                                <ul>
                                                    <li class="total">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-diamond"></i>
                                                        </label>
                                                        <label class="dash_title ng-binding">Doanh số</label>
                                                        <span class="number">
                                                            <span class="txt ng-binding">0</span>
                                                        </span>
                                                        <span class="yesterday ng-binding">Doanh thu thuần</span>
                                                    </li>
                                                    <li class="return">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-plane"></i>
                                                        </label>
                                                        <label class="dash_title">Khách đặt</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số lượng khách đặt</span>
                                                    </li>
                                                    <li class="customer">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-share"></i>
                                                        </label>
                                                        <label class="dash_title">Lượt truy cập</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số lượt truy cập vào</span>
                                                    </li>
                                                    <li class="customer down">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-bag"></i>
                                                        </label>
                                                        <label class="dash_title">Thành công</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số khách hàng thành công</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <p style="float: left;font-weight: bold;margin-top: 8px;margin-bottom: 0;">
                                            <i class="nav-icon icon-calendar"></i>
                                            BIỂU ĐỒ THỂ HIỆN DOANH SỐ THEO THỜI GIAN
                                        </p>
                                        <div class="card-header-actions">
                                            <select class="form-control" id="ccmonth">
                                                <option>Hôm nay</option>
                                                <option>Hôm qua</option>
                                                <option>7 ngày qua</option>
                                                <option>Tháng này</option>
                                                <option>Tháng trước</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding: 0;">
                                        <div class="dashboardBox dashboardStatistic ovh dashboard-top">
                                            <div class="uln ovh pd0" style="border-bottom: 1px solid #c8ced3;">
                                                <ul>
                                                    <li class="total">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-diamond"></i>
                                                        </label>
                                                        <label class="dash_title ng-binding">Doanh số</label>
                                                        <span class="number">
                                                            <span class="txt ng-binding">0</span>
                                                        </span>
                                                        <span class="yesterday ng-binding">Doanh thu thuần</span>
                                                    </li>
                                                    <li class="return">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-plane"></i>
                                                        </label>
                                                        <label class="dash_title">Khách đặt</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số lượng khách đặt</span>
                                                    </li>
                                                    <li class="customer">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-share"></i>
                                                        </label>
                                                        <label class="dash_title">Lượt truy cập</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số lượt truy cập vào</span>
                                                    </li>
                                                    <li class="customer down">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-bag"></i>
                                                        </label>
                                                        <label class="dash_title">Thành công</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số khách hàng thành công</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <p style="float: left;font-weight: bold;margin-top: 8px;margin-bottom: 0;">
                                            <i class="nav-icon icon-shield"></i>
                                            TOP 10 HÀNG HÓA BÁN CHẠY HÔM QUA
                                        </p>
                                        <div class="card-header-actions">
                                            <select class="form-control" id="ccmonth">
                                                <option>Hôm nay</option>
                                                <option>Hôm qua</option>
                                                <option>7 ngày qua</option>
                                                <option>Tháng này</option>
                                                <option>Tháng trước</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding: 0;">
                                        <div class="dashboardBox dashboardStatistic ovh dashboard-top">
                                            <div class="uln ovh pd0" style="border-bottom: 1px solid #c8ced3;">
                                                <ul>
                                                    <li class="total">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-diamond"></i>
                                                        </label>
                                                        <label class="dash_title ng-binding">Doanh số</label>
                                                        <span class="number">
                                                            <span class="txt ng-binding">0</span>
                                                        </span>
                                                        <span class="yesterday ng-binding">Doanh thu thuần</span>
                                                    </li>
                                                    <li class="return">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-plane"></i>
                                                        </label>
                                                        <label class="dash_title">Khách đặt</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số lượng khách đặt</span>
                                                    </li>
                                                    <li class="customer">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-share"></i>
                                                        </label>
                                                        <label class="dash_title">Lượt truy cập</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số lượt truy cập vào</span>
                                                    </li>
                                                    <li class="customer down">
                                                        <label class="dash_icon">
                                                            <i class="nav-icon icon-bag"></i>
                                                        </label>
                                                        <label class="dash_title">Thành công</label>
                                                        <span class="number"><span class="txt">0</span></span>
                                                        <span class="yesterday">Số khách hàng thành công</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="app-footer">
    <div>
        <a href="#">ThinkFlight</a>
        <span>&copy; 2020 creativeLabs.</span>
    </div>
    <div class="ml-auto">
        <span>Powered by</span>
        <a href="#">ThinkFlight</a>
    </div>
</footer>
<!-- CoreUI and necessary plugins-->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/pace-progress/pace.min.js"></script>
<script src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
<script src="node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
