// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
$white: #fff;
$black: #000;
$main-black: #333;

$gray: #818181;
$gray-light: #f5f5f5;
$gray-lighter: #e5e5e5;
$orange: #ff6200;

// Border & box-shadow

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

$font-family-base: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 600;

$font-size-extra-small: 10px;
$font-size-small: 12px;
$font-size-base: 15px;
$font-size-medium: 16px;
$font-size-large: 18px;
