table tr th {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 400 !important;
    border-top: 1px solid #c5e7f2 !important;
    border-bottom: 1px solid #c5e7f2 !important;
    background: url(https://cdn-app.kiotviet.vn/retailler/Content/thBg.png) right center no-repeat #dcf4fc !important;
}

table tr th:last-child {
    background: #dcf4fc !important;
}

.nav-icon{
    margin-right: 5px;
}

.required {
    color: red;
}

.wp-st-logo{
    text-align: center;
}

.wp-st-logo .wrap-logo {
    border: 1px dashed #b7b7b7;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 202px;
    margin: 0 auto;
}

.wp-ip-file {
    margin: 15px 0 5px;
}

.preview-image img {
    width: 100%;
    height: 280px;
}

.wrap-logo{
    min-height: 292px;
}

.dashboardStatistic {
    position: relative;
}

.uln ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dashboard-custom .dashboardStatistic ul li {
    max-width: calc(100% / 4);
}

.dashboardStatistic ul li {
    position: relative;
    color: #999;
    font-size: 12px;
    padding: 6px 0 6px 67px;
    text-align: left;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    min-height: 72px;
    white-space: nowrap;
    margin: 4px 25px 8px 0;
    box-sizing: border-box;
}

.dashboardStatistic .total .dash_icon {
    background: #0094da;
}

.dashboardStatistic .dash_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 28px;
    background: #4bac4d;
    text-align: center;
    border-radius: 100% !important;
    color: #fff;
    line-height: 32px;
}

.dashboardStatistic .dash_title {
    font-weight: 700;
    color: #666;
    margin: 0 0 0 2px;
}

.c-callout {
    text-align: left;
    padding: 6px 0 6px 60px;
    border-top: 1px solid #d6d6d6;
}

.dashboardStatistic .total span.number {
    color: #0094da;
}

.dashboardStatistic span.number {
    display: block;
    font-size: 18px;
    line-height: 28px;
}

span.yesterday {
    color: #999;
    display: block;
    font-size: 12px;
    margin: 0 0 0 2px;
}

.btn-group-left a, .btn-group-left button {
    text-transform: uppercase;
}

.dashboardStatistic .return .dash_icon {
    background: #ff8030;
}

.dashboardStatistic .down .dash_icon {
    background: #f94f5e;
}

@media (min-width: 768px){
    .c-callout {
        border-top: none;
        border-left: 1px solid #d6d6d6;
    }
}

.info-flight {
    padding: 25px 0 22px;
}
.mt-1 {
    margin-top: .25rem;
}

.info-flight .card__title {
    justify-content: space-between;
    margin-bottom: 10px;
}

.card__title {
    padding: 0 25px 0 19px;
    line-height: 28px;
    font-weight: 700;
    border-left: 6px solid #ff4827;
}

.info-flight__logo-airline {
    max-width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
}

.info-flight .type {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
}

.info-flight__detail {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin-bottom: 14px;
}

.info-flight .serial__title {
    color: #919191;
    font-weight: 300;
    margin-right: 4px;
}

.info-flight .serial__content {
    color: #00a6d1;
    font-weight: 500;
}

.info-flight__location {
    background-color: rgba(255, 98, 0, 0.24);
    padding: 20px 25px;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

.info-flight__location .location {
    font-family: Anton, sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    color: #898989;
    white-space: nowrap;
}

.info-flight__location .img {
    margin: 14px 15px 0;
}

.info-flight__time {
    padding: 12px 25px 0;
}

.info-flight__time .date {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 300;
}

.text-blue-sky {
    color: #00a6d1;
}

.text-smoke-dark {
    color: #919191;
}

.info-flight__time .start {
    text-align: left;
}

.info-flight .time-title {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 15px;
    color: #919191;
}

.info-flight .time-content {
    display: block;
    font-family: Anton, sans-serif;
    font-size: 25px;
    line-height: 38px;
    margin-top: 7px;
}

.info-flight .time {
    text-align: center;
    transform: translateY(14px);
}

.info-flight__time .arrivals {
    text-align: right;
    padding-left: 8px;
}

.info-flight .time-spent {
    color: #919191;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: 18px;
    padding: 2px 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-flight .time img {
    display: block;
    margin-bottom: 5px;
    max-height: 30px;
    max-width: 158px;
    margin-left: auto;
    margin-right: auto;
}

.info-flight__location .col-md-4, .info-flight__time .col-md-4{
    text-align: center;
}

.info-flight__time .col-md-4 .img{
    padding: 1rem 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px){
    .info-flight .type {
        margin-left: 10px;
        justify-content: flex-end;
    }

    .info-flight__location .col-md-4:first-child{
        text-align: left;
    }

    .info-flight__location .col-md-4:last-child{
        text-align: right;
    }

    .info-flight__time .col-md-4:first-child{
        text-align: left;
    }

    .info-flight__time .col-md-4:last-child{
        text-align: right;
    }

    .info-flight__time .col-md-4 .img{
        margin: 0;
        padding: 0;
        border: none;
    }
}

.th-text-right {
    text-align: right;
}

.my-tours {
    background: #fff;
    padding: 25px;
    margin: -25px 0 -50px -15px;
}

.btn-custom {
    background-color: #FF4827!important;
    color: #fff!important;
}
.btn-rounded {
    border-radius: 25px !important;
}

.my-tours {
    background: #fff;
    padding: 25px;
    margin: -25px 0 -50px -15px;
}

.tour-list-items:hover {
    background: #F3F1F1 !important;
}

img.tour-item-img-lg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.text-bold {
    font-weight: 700;
}

.text-orange {
    color: #FF4827 !important;
}

.btn-add {
    width: 80px;
    height: 80px;
    background: none;
    border: dotted 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.tour-header {
    height: 140px;
    background: #fff;
    padding: 24px;
    z-index: -1;
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.2) !important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}

.rct-block {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
    border: none;
    transition: all 0.4s ease-in-out 0s;
    margin-bottom: 24px;
    position: relative;
}

.collapse.show {
    display: block;
}

.rct-block .rct-block-content {
    padding: 1.25rem 1.25rem;
}

.rc-steps, .rc-steps * {
    box-sizing: border-box;
}
.rc-steps {
    font-size: 0;
    width: 100%;
    line-height: 1.5;
    display: flex;
}

.rc-steps-label-vertical .rc-steps-item {
    overflow: visible;
}
.rc-steps-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    flex: 1;
    overflow: hidden;
}
.rc-steps, .rc-steps * {
    box-sizing: border-box;
}
.rc-steps-item {
    padding: 0 10px;
}

.rc-steps-label-vertical .rc-steps-item-tail {
    padding: 0 24px;
    margin-left: 48px;
}
.rc-steps-label-vertical .rc-steps-item-tail {
    margin-left: 55px !important;
}
.rc-steps-item-tail {
    position: absolute;
    left: 0;
    width: 100%;
    top: 12px;
    padding: 0 10px;
}
.rc-steps, .rc-steps * {
    box-sizing: border-box;
}
.rc-steps-item-tail {
    top: 15px !important;
}

.rc-steps-label-vertical .rc-steps-item-icon {
    display: inline-block;
    margin-left: 36px;
}
.rc-steps-item-process .rc-steps-item-icon {
    background: #108ee9;
}
.rc-steps-item-process .rc-steps-item-icon {
    border-color: #108ee9;
    background-color: #fff;
}
.rc-steps-item-icon {
    border: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 26px;
    font-size: 14px;
    margin-right: 8px;
    transition: background-color 0.3s, border-color 0.3s;
}
.rc-steps-item-icon, .rc-steps-item-content {
    display: inline-block;
    vertical-align: top;
}
.rc-steps, .rc-steps * {
    box-sizing: border-box;
}
.rc-steps-item-icon {
    width: 35px !important;
    height: 35px !important;
    border: #3498db solid 3px !important;
}

.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
    color: #fff;
}
.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
    color: #108ee9;
}
.rc-steps-item-icon > .rc-steps-icon {
    line-height: 1;
    top: -1px;
    color: #108ee9;
    position: relative;
}
.rc-steps-item-icon>.rc-steps-icon {
    top: 3px !important;
    font-weight: 700;
}
.rc-steps, .rc-steps * {
    box-sizing: border-box;
}

.rc-steps-label-vertical .rc-steps-item-content {
    display: block;
    text-align: center;
    margin-top: 8px;
    width: 120px;
}

.rc-steps-label-vertical .rc-steps-item-title {
    padding-right: 0;
}
.rc-steps-item-process .rc-steps-item-title {
    color: rgba(0, 0, 0, 0.65);
}
.rc-steps-item-process .rc-steps-item-title, .rc-steps-item-finish .rc-steps-item-title {
    font-weight: 700;
    color: #000 !important;
}
.rc-steps-item-title {
    font-size: 14px;
    margin-bottom: 4px;
    color: #666;
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;
    position: relative;
}

.rc-steps-item-process .rc-steps-item-tail:after {
    background-color: #e9e9e9;
}

.rc-steps-item-finish .rc-steps-item-tail:after, .rc-steps-item-process .rc-steps-item-tail:after, .rc-steps-item-wait .rc-steps-item-tail:after {
    background-color: #3498db !important;
    width: 110px;
}

.rc-steps-item-tail:after {
    content: '';
    display: inline-block;
    background: #e9e9e9;
    height: 1px;
    border-radius: 1px;
    width: 100%;
    transition: background .3s;
}

.rc-steps-item-tail:after {
    height: 3px !important;
}

.btn-beside-input {
    background: #EBEDF2!important;
    color: #FF4827 !important;
    font-weight: 700 !important;
}

.align-items-center {
    align-items: center !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}

[class*="col-"] {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.tour-description-textarea {
    min-height: 180px;
}

.card-header {
    background-color: #fff!important;
}

.table-custom-cell {
    padding-top: 10px;
    padding-left: 10px;
}
.table-head-label {
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}

table thead {
    background-color: #F4F7FA;
}

.sortable-list{
    padding: 0;
}

li.custom-list-item {
    list-style: none;
    padding: 10px;
    border-bottom: solid 1px rgb(0, 0, 0, 0.1);
}

li.custom-list-item .row::before {
    content: "\F111";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    margin-left: 0.5em;
    width: 1.3em;
    font-size: 0.75em;
    font-weight: 900;
    margin-right: 10px;
    margin-top: 4px;
    align-self: center;
}

div#create-board-area {
    color: rgb(0, 0, 0, 0.2);
    border: dashed 3px rgb(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    cursor: pointer;
}

.table-text-right{
    text-align: right;
    padding-right: 10px;
}

.step-active{
    display: block!important;
}

.rc-steps-item-process .rc-steps-item-icon {
    background: #108ee9;
}

.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
    color: #fff;
}

.rc-steps-item-finish .rc-steps-item-icon {
    color: #fff;
    background: #3498db !important;
    border-color: #3498db !important;
}

.rc-steps-item-finish .rc-steps-item-icon>.rc-steps-icon {
    color: #fff !important;
}

.btn-white {
    color: #FF4827!important;
    background-color: #fff!important;
}

.btn-white:hover {
    color: #fff!important;
    background-color: #FF4827!important;
}

.place-result-item {
    padding: 10px 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.align-self-center {
    align-self: center !important;
}

img.tour-places-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 15px;
}

.d-inline-block {
    display: inline-block !important;
}

.place-star{
    position: relative;
    overflow: hidden;
    cursor: default;
    display: block;
    float: left;
    font-size: 20px;
}

.place-star-active{
    color: rgb(255, 72, 39);
}

.fa-active{
    color: #FF4827 !important;
}

.card-header-action{
    cursor: pointer;
    color: #FF4827 !important;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0,0,0,0.3);
    background: white;
    padding: 20px 20px;
}

.dropzone {
    color: rgba(0, 0, 0, 0.1) !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    border: none;
}

.dropzone-placeholder-md {
    margin: 50px 40px 20px 40px !important;
}

.tour-list-items {
    position: relative;
    cursor: pointer;
    border-bottom: solid 1px rgb(0, 0, 0, 0.1);
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 25px 15px 25px;
}

img.tour-item-img-sm {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.tour-list-items a{
    color: unset;
}

.tour-list-items a:hover{
    color: unset;
    text-decoration: none;
}

.custom-tab.list-inline-item {
    position: relative;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}
.list-inline-item {
    margin-right: 2em !important;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.react-tabs__tab--selected {
    border-color: #FF4827 !important;
    color: #FF4827 !important;
    font-weight: 700;
    border-bottom: solid 3px #FF4827 !important;
}
.list-inline-item {
    display: inline-block;
}

.custom-tab a:hover{
    text-decoration: unset;
}

.text-active{
    color: #FF4827 !important;
}

.text-gray {
    color: rgba(0, 0, 0, 0.4) !important;
}

.dot-notification {
    top: -5px;
    right: -15px;
    position: absolute;
    font-size: 10px!important;
}

.rct-block-title, .faq-page-wrapper .panel-heading {
    padding: 0.9375rem 1.25rem;
    position: relative;
}

.rct-block-title h4, .faq-page-wrapper .panel-heading h4 {
    margin-bottom: 0;
    color: #464D69;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 30px;
}

.days {
    text-align: center !important;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px 0;
    margin-bottom: 15px;
    cursor: pointer;
}

.badge-top-right {
    position: absolute;
    top: 4px;
    right: 5px;
}

.badge-xs {
    width: 0;
    height: 0;
    padding: 9px!important;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    line-height: 0!important;
    font-size: 55%;
    position: absolute;
}

.badge-danger {
    color: #fff;
    background-color: #FF3739;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.day-selected {
    background: #FF4827;
    color: #fff;
}

.days:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.chat-wrapper .chat-main-body {
    background: #fff !important;
}

.chat-wrapper .chat-main-body .chat-head {
    padding: 0.625rem 1.5rem;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.09);
}

.chat-head {
    padding-top: 1.5em !important;
}

.chat-wrapper .chat-main-body .chat-body .chat-bubble.even, .chat-wrapper .chat-main-body .chat-body .chat-bubble.odd {
    border-radius: 20px !important;
}

.chat-wrapper .chat-main-body .chat-body .chat-bubble.odd {
    border-radius: 20px 20px 0 20px;
}

.chat-wrapper .chat-main-body .chat-body .chat-bubble {
    max-width: 600px;
    padding: 0.625rem;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
    display: flex;
    align-items: center;
}

.text-white {
    color: #fff !important;
}

.bg-primary {
    background-color: #5D92F4 !important;
}

.font-xs {
    font-size: 0.75rem !important;
    line-height: 1.25rem;
}

.text-muted {
    color: #727891 !important;
}

.text-right {
    text-align: right !important;
}

.mt-1, .my-1 {
    margin-top: 0.25rem !important;
}

.p-30 {
    padding: 1.875rem !important;
}

.d-block {
    display: block !important;
}

.jss-fluid {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

.mr-15, .mx-15 {
    margin-right: 0.9375rem !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.jss-img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
}

img {
    vertical-align: middle;
    border-style: none;
}

.bg-aqua {
    background-color: #E1EBFF;
}

input#chat-input {
    border: solid 1px #f1f1f1;
    background: #f1f1f1;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: none !important;
    height: 50px;
}

button#btn-chat-1 {
    border: solid 1px #f1f1f1;
    border-left: none;
    border-right: none;
}

.btn-last-inside, button#btn-chat-2 {
    border: solid 1px #f1f1f1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.answer-block {
    min-height: 100px;
    background-color: #F1F1F1!important;
}